In [365]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  
%matplotlib inline

In [366]:
#http://fiscal.wa.gov/salaries.aspx
df = pd.read_csv('data\WA_SALARY_DATA.csv', thousands=",")

In [367]:
df.head(5)

,Agy,Agency_Title,employee_name,job_title,Sal2011,Sal2012,Sal2013,Sal2014
0,165,Accountancy,"ASMATH, MOSAR",FORMS & RECORDS ANALYST 2,0,0,32272,17745
1,165,Accountancy,"AUBREY, DONALD F",BOARD MEMBER,950,0,0,400
2,165,Accountancy,"AUBREY, DONALD F.",BOARD MEMBER,0,1450,0,0
3,165,Accountancy,"DONOVAN, KIRSTEN M",ADMINISTRATIVE TRAINEE 3,0,0,15182,13620
4,165,Accountancy,"DONOVAN, KIRSTEN M",LEGAL SECRETARY 2,0,0,0,20750

In [368]:
agy_count = df.Agency_Title.value_counts()

In [369]:
agy_count.head(10)

University of Washington          91105
Social and Health Services        36268
Washington State University       26618
Corrections                       16052
Transportation                    12492
Western Washington University      7623
Labor and Industries               6046
Eastern Washington University      5725
State Patrol                       5682
Employment Security Department     4345
Name: Agency_Title, dtype: int64

In [370]:
college_set = set(df[df['Agency_Title'].str.contains("College")].Agency_Title)

In [371]:
univ_set = set(df[df['Agency_Title'].str.contains("University")].Agency_Title)

In [372]:
college_set

{'Bates Technical College',
 'Bellevue Community College',
 'Bellingham Technical College',
 'Big Bend Community College',
 'Cascadia Community College',
 'Centralia College',
 'Clark College',
 'Clover Park Technical College',
 'Columbia Basin Community College',
 'Edmonds Community College',
 'Everett Community College',
 'Grays Harbor College',
 'Green River Community College',
 'Highline Community College',
 'Lake Washington Technical College',
 'Lower Columbia Community College',
 'Olympic College',
 'Peninsula Community College',
 'Pierce Community College',
 'Renton Technical College',
 'Seattle Community College',
 'Shoreline Community College',
 'Skagit Valley College',
 'South Puget Sound Community College',
 'Spokane Community College',
 'Tacoma Community College',
 'The Evergreen State College',
 'Walla Walla Community College',
 'Wenatchee Valley College',
 'Whatcom Community College',
 'Yakima Valley College'}

In [373]:
univ_set

{'Central Washington University',
 'Eastern Washington University',
 'University of Washington',
 'Washington State University',
 'Western Washington University'}

In [381]:
for item in univ_set:
    print(item)
    tempdf = df[df.Agency_Title == item]
    tempdf = tempdf[tempdf.job_title.str.contains("PROFESSOR")]
    fortyk = tempdf[tempdf.Sal2011 <= 40000]
    fortyk = fortyk[fortyk.Sal2011 >= 1]
    print(len(fortyk))

Central Washington University
32
Western Washington University
453
University of Washington
970
Washington State University
131
Eastern Washington University
38

In [388]:
for item1 in ['Sal2011', 'Sal2012', 'Sal2013']:
    print(item1)
    for item in univ_set:
        tempdf = df[df.Agency_Title == item]
        tempdf = tempdf[tempdf.job_title.str.contains("PROFESSOR")]
        print(item)
        fortyk = tempdf[tempdf[item1] <= 40000]
        fortyk = fortyk[fortyk[item1] >= 1]
        #print('1 - 40k')
        print(len(fortyk))
        eightyk = tempdf[tempdf[item1] <= 80000]
        eightyk = eightyk[eightyk[item1] > 40000]
        #print('40k - 80k')
        print(len(eightyk))
        hundtwentyk = tempdf[tempdf[item1] <= 120000]
        hundtwentyk = hundtwentyk[hundtwentyk[item1] > 80000]
        #print('80k - 120k')
        print(len(hundtwentyk))
        greater120 = tempdf[tempdf[item1] <= 160000]
        greater120 = greater120[greater120[item1] > 120000]
        print(len(greater120))
        greater160 = tempdf[tempdf[item1] > 160000]
        #print('120k+')
        print(len(greater160))

Sal2011
Central Washington University
32
230
109
15
1
Western Washington University
453
263
58
1
0
University of Washington
970
1054
1283
755
701
Washington State University
131
492
382
131
66
Eastern Washington University
38
244
47
1
0
Sal2012
Central Washington University
27
225
94
10
2
Western Washington University
225
292
85
5
0
University of Washington
988
1010
1292
787
753
Washington State University
154
465
395
132
82
Eastern Washington University
48
231
54
1
0
Sal2013
Central Washington University
36
212
129
19
1
Western Washington University
126
309
125
5
0
University of Washington
1016
1024
1300
818
847
Washington State University
159
496
401
124
88
Eastern Washington University
62
228
64
1
0

In [ ]:
school_list = {
 'Bates Technical College',
 'Bellevue Community College',
 'Bellingham Technical College',
 'Big Bend Community College',
 'Cascadia Community College',
 'Centralia College',
 'Clark College',
 'Clover Park Technical College',
 'Columbia Basin Community College',
 'Edmonds Community College',
 'Everett Community College',
 'Grays Harbor College',
 'Green River Community College',
 'Highline Community College',
 'Lake Washington Technical College',
 'Lower Columbia Community College',
 'Olympic College',
 'Peninsula Community College',
 'Pierce Community College',
 'Renton Technical College',
 'Seattle Community College',
 'Shoreline Community College',
 'Skagit Valley College',
 'South Puget Sound Community College',
 'Spokane Community College',
 'Tacoma Community College',
 'The Evergreen State College',
 'Walla Walla Community College',
 'Wenatchee Valley College',
 'Whatcom Community College',
 'Yakima Valley College',
 'Central Washington University',
 'Eastern Washington University',
 'University of Washington',
 'Washington State University',
 'Western Washington University'
}

In [ ]:
school_list2 = list()
for item in school_list:
    school_list2.append(item)

In [ ]:
school_list2

In [ ]:
csv = df[df.Agency_Title.isin(school_list2)]

In [ ]:
csv.to_csv('professordata.csv')

In [ ]:
df2.head(5)

In [ ]:
prof_df = df2[df2.job_title.str.contains("PROFESSOR")]

In [ ]:
prof_df.head(50)

In [ ]:
len(prof_df)

In [ ]:
zero = prof_df[prof_df.Sal2011 == 0]
len(zero) /7328.0

In [ ]:
fortyk = prof_df[prof_df.Sal2011 <= 40000]
fortyk = fortyk[fortyk.Sal2011 >= 1]

eightyk = prof_df[prof_df.Sal2011 <= 80000]
eightyk = eightyk[eightyk.Sal2011 > 40000]

hundtwentyk = prof_df[prof_df.Sal2011 <= 120000]
hundtwentyk = hundtwentyk[hundtwentyk.Sal2011 > 80000]

greater120 = prof_df[prof_df.Sal2011 <= 160000]
greater120 = greater120[greater120.Sal2011 > 120000]

greater160 = prof_df[prof_df.Sal2011 > 160000]

In [ ]:
fortyk = prof_df[prof_df.Sal2011 <= 40000]
fortyk = fortyk[fortyk.Sal2011 >= 1]
len(fortyk)/7328.0

In [ ]:
eightyk = prof_df[prof_df.Sal2011 <= 80000]
eightyk = eightyk[eightyk.Sal2011 > 40000]
len(eightyk)/7328.0

In [ ]:
hundtwentyk = prof_df[prof_df.Sal2011 <= 120000]
hundtwentyk = hundtwentyk[hundtwentyk.Sal2011 > 80000]
len(hundtwentyk)/7328.0

In [ ]:
greater120 = prof_df[prof_df.Sal2011 <= 160000]
greater120 = greater120[greater120.Sal2011 > 120000]
len(greater120)/7328.0

In [ ]:
greater160 = prof_df[prof_df.Sal2011 > 160000]
len(greater160)/7328.0

In [ ]:
len(zero) + len(fortyk) + len(eightyk) + len(hundtwentyk) + len(greater120) + len(greater160)

In [ ]:
csv2 = csv[csv.Agency_Title ]
csv2 = csv.Sal2011.sort_values(ascending = False)

In [ ]:
csv2