# Problem Set 1, due April 8th at 12:00pm 
(in other words, it is due at noon, or one minute after 11:59am).

### Before You Start
For this problem set, you should download INF0371-PS1.ipynb from Canvas. Create a local copy of the notebook and rename it LASTNAME_FIRSTNAME-PS1.ipynb. Then edit your renamed file directly in your browser by typing:
```
ipython notebook <name_of_downloaded_file>
```

Make sure the following libraries load correctly (hit Ctrl-Enter).

In [118]:
#IPython is what you are using now to run the notebook
import IPython
print "IPython version:      %6.6s (need at least 1.0)" % IPython.__version__

# Numpy is a library for working with Arrays
import numpy as np
print "Numpy version:        %6.6s (need at least 1.7.1)" % np.__version__

# SciPy implements many different numerical algorithms
import scipy as sp
print "SciPy version:        %6.6s (need at least 0.12.0)" % sp.__version__

# Pandas makes working with data tables easier
import pandas as pd
print "Pandas version:       %6.6s (need at least 0.11.0)" % pd.__version__

# Module for plotting
import matplotlib
print "Maplotlib version:    %6.6s (need at least 1.2.1)" % matplotlib.__version__

# SciKit Learn implements several Machine Learning algorithms
import sklearn
print "Scikit-Learn version: %6.6s (need at least 0.13.1)" % sklearn.__version__

IPython version:       4.0.3 (need at least 1.0)
Numpy version:        1.10.4 (need at least 1.7.1)
SciPy version:        0.17.0 (need at least 0.12.0)
Pandas version:       0.17.1 (need at least 0.11.0)
Maplotlib version:     1.5.1 (need at least 1.2.1)
Scikit-Learn version:   0.17 (need at least 0.13.1)

### Working in a group?
List the names of other students with whom you worked on this problem set:
- *Person 1*
- *Person 2*
- ...

---

## Introduction to the assignment

For this assignment, you will be using the [Boston Housing Prices Data Set](http://archive.ics.uci.edu/ml/datasets/Housing).  Please read about the dataset carefully before continuing -- it is worth investing a few minutes up front otherwise you are likely to be hopelessly confused! Also, if you're new to analyzing data in Python, please make sure to read the relevant readings linked to on Canvas before beginning, otherwise you'll be stabbing in the dark.

Use the following commands to load the dataset:

In [119]:
from sklearn.datasets import load_boston
bdata = load_boston()

The following commands will provide some basic information about the shape of the data:

In [120]:
print bdata.keys()
print bdata.feature_names
print bdata.data.shape
print bdata.target.shape

# uncomment the following if you want to see a lengthy description of the dataset
# print bdata.DESCR

['data', 'feature_names', 'DESCR', 'target']
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']
(506L, 13L)
(506L,)

In [121]:
boston = pd.DataFrame(bdata.data)

In [122]:
boston.columns = bdata.feature_names[:]
print boston.shape

(506, 13)

In [123]:
newdf = pd.DataFrame(bdata.target)

In [124]:
boston = pd.concat([boston, newdf], axis=1)

In [125]:
boston.columns.values[13] = 'MEDV'

In [132]:
boston.head(20)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311,15.2,392.52,20.45,15.0
11,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.58,23.1
17,0.78420,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307,21.0,386.75,14.67,17.5
18,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0,0.538,5.727,69.5,3.7965,4,307,21.0,390.95,11.28,18.2

---

## Part 1: Descriptive analysis

### 1.1: Explore the data

Let's dig into the data a bit to see what we're dealing with. The first thing to do is to make sure you understand how the data is organized, what the data types are, whether there is any missing data, and so forth. Get your bearings on your own, then answer the following questions.

 - 1.1.1: How many different variables are there in the dataset, and how many different observations?
 - 1.1.2: How many instances are classified as neighborhoods where the tract bounds the Charles River? 
 - 1.1.3: Show that dataset does not contain any missing values.
 - 1.1.4: Display the property tax rate in the 5 neighborhoods that have the highest median housing price.

In [136]:
#different variables 
print(len(boston.columns))

#different observations
print(len(boston))

#How many instances are classified as neighborhoods where the tract bounds the Charles River?
#CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
print(len(boston[boston.CHAS == 1]))

#show that dataset does not contain any missing values
boston2 = boston.dropna()
print(len(boston2) == len(boston))

#Display the property tax rate in the 5 neighborhoods that have the highest median housing price.
hmed = boston.sort(['MEDV'], ascending=False)
hmed.head(5)

14
506
35
True

C:\Users\Tim\Anaconda2\lib\site-packages\ipykernel\__main__.py:16: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
283,0.01501,90,1.21,1,0.401,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,50
225,0.52693,0,6.20,0,0.504,8.725,83.0,2.8944,8,307,17.4,382.00,4.63,50
369,5.66998,0,18.10,1,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50
370,6.53876,0,18.10,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50
371,9.23230,0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50

*Provide our answers below:*

 - 1.1.1: *Replace with your answer*
 - 1.1.2:
 - 1.1.3:
 - 1.1.4:

### 1.2: Answer some basic questions
 - 1.2.1: What is the median housing price in Boston's most expensive neighborhood?
 - 1.2.2: How many neighborhoods have, on average, less than 5 rooms per dwelling?
 - 1.2.3: What is the property tax rate in the most expensive neighborhood that is also adjacent to the Charles River?
 - 1.2.4: What is the crime rate in the neighborhood with the highest median housing price? 
 - 1.2.5: What is the crime rate in the neighborhood with the lowest median housing price?

In [150]:
#1.2.1
hmed = boston.sort(['MEDV'], ascending=False)
print(hmed.head(5))

#1.2.2
print(len(boston[boston.RM > 5]))

#1.2.3
charles = boston[boston.CHAS == 1]
topcharles = charles.sort(['MEDV'], ascending=False)
print(topcharles.head(1))

#1.2.4
print('crime rate in the neighborhood with the highest median housing price')
print(hmed.head(1).CRIM)

#1.2.5
lmed = boston.sort(['MEDV'], ascending=True)
print('crime rate in the neighborhood with the lowest median housing price')
print(lmed.head(1).CRIM)

        CRIM  ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  PTRATIO  \
283  0.01501  90   1.21     1  0.401  7.923   24.8  5.8850    1  198     13.6
225  0.52693   0   6.20     0  0.504  8.725   83.0  2.8944    8  307     17.4
369  5.66998   0  18.10     1  0.631  6.683   96.8  1.3567   24  666     20.2
370  6.53876   0  18.10     1  0.631  7.016   97.5  1.2024   24  666     20.2
371  9.23230   0  18.10     0  0.631  6.216  100.0  1.1691   24  666     20.2

          B  LSTAT  MEDV
283  395.52   3.16    50
225  382.00   4.63    50
369  375.33   3.73    50
370  392.05   2.96    50
371  366.15   9.53    50
490
        CRIM  ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
372  8.26725   0   18.1     1  0.668  5.875  89.6  1.1296   24  666     20.2

          B  LSTAT  MEDV
372  347.88   8.88    50

C:\Users\Tim\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app
C:\Users\Tim\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
C:\Users\Tim\Anaconda2\lib\site-packages\ipykernel\__main__.py:18: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

crime rate in the neighborhood with the highest median housing price
283    0.01501
Name: CRIM, dtype: float64
crime rate in the neighborhood with the lowest median housing price
398    38.3518
Name: CRIM, dtype: float64

*Provide our answers below:*

 - 1.2.1: *Replace with your answer*
 - 1.2.2:
 - 1.2.3:
 - 1.2.4:
 - 1.2.5:

### 1.3: Summary statistics

Create a clean, organized table that shows just the following information (no more, no less) for each variable in the dataset. Note that your table should have K rows (one for each variable) and 7 columns, ordered as below:
 - The name of the variable
 - The number of observations with non-missing values
 - The mean of the variable
 - The standard deviation of the variable
 - The minimum value of the variable
 - The median of the variable
 - The maximum value of the variable

In [213]:
summary_df = boston.describe()

summary_df.loc['median'] = boston.median()  # adding a row

summary_df_ordered = pd.DataFrame(columns = ['variable', 'observations', 'mean', 'std dev', 'min', 'median', 'max'])

rows = boston.columns.values

count = 0
for item in rows:
    summary_df_ordered.loc[count] = [item, len(boston[item].dropna()),boston[item].mean(),boston[item].std(),
                                     boston[item].min(),boston[item].median(),boston[item].max()]
    count = count + 1
print(summary_df_ordered)

   variable  observations        mean     std dev        min     median  \
0      CRIM           506    3.593761    8.596783    0.00632    0.25651
1        ZN           506   11.363636   23.322453    0.00000    0.00000
2     INDUS           506   11.136779    6.860353    0.46000    9.69000
3      CHAS           506    0.069170    0.253994    0.00000    0.00000
4       NOX           506    0.554695    0.115878    0.38500    0.53800
5        RM           506    6.284634    0.702617    3.56100    6.20850
6       AGE           506   68.574901   28.148861    2.90000   77.50000
7       DIS           506    3.795043    2.105710    1.12960    3.20745
8       RAD           506    9.549407    8.707259    1.00000    5.00000
9       TAX           506  408.237154  168.537116  187.00000  330.00000
10  PTRATIO           506   18.455534    2.164946   12.60000   19.05000
11        B           506  356.674032   91.294864    0.32000  391.44000
12    LSTAT           506   12.653063    7.141062    1.73000   11.36000
13     MEDV           506   22.532806    9.197104    5.00000   21.20000

         max
0    88.9762
1   100.0000
2    27.7400
3     1.0000
4     0.8710
5     8.7800
6   100.0000
7    12.1265
8    24.0000
9   711.0000
10   22.0000
11  396.9000
12   37.9700
13   50.0000

### 1.4 Simple statistical tests

Using a t-test, compare the median house value in locations that are adjacent to the Charles River to locations that are not adjacent to the Charles River. Do you reject the null hypothesis that prices are equivalent?

In [59]:
# enter your code here

*Write your response here.*

---

## Part 2: Histograms and Scatterplots


### 2.1: Histogram of housing prices

Below you will find some very basic code to make a very basic histogram of median housing prices (the "target" variable) for your dataset.  Your first task is to make this graph look pretty by doing the following:

1. Add appropriate labels to the x and y axes, make sure to include units
2. Change the bin width on the histogram to be $1000
3. Remove the axes on the top and right side of the plot window
4. Change the color of the bars to be green, and remove the black borders from the bars

In [60]:
# prepare IPython to work with matplotlib and import the library to something convenient
# %matplotlib inline  
import matplotlib.pyplot as plt  

# edit the code below to make the graph look good
plt.hist(bdata.target)

(array([  21.,   55.,   82.,  154.,   84.,   41.,   30.,    8.,   10.,   21.]),
 array([  5. ,   9.5,  14. ,  18.5,  23. ,  27.5,  32. ,  36.5,  41. ,
         45.5,  50. ]),
 <a list of 10 Patch objects>)

### 2.2: Scatter plot of housing prices and crime

Use matplotlib to create a scatter plot that shows the relationship between the median value of the home (y-axis) and the per-capita crime rate (x-axis).  Properly label your axes, and make sure that your graphic looks polished and professional.

In [61]:
# enter your code here

### 2.3: Interpret

What do you observe in the above scatter plot? Does there appear to be a relationship between crime rates and housing prices in Boston? Calculate the correlation between these two variables. Do you think this relationship is causal, or just a correlation? Justify your position.

*Write your thoughts here (1-2 paragraphs).*

### 2.4 Correlation Matrix

Calculate the correlation of every pair of variables in the dataset. Create a *K* x *K* matrix where the value in the (*i*,*j*) cell is the correlation between the *i*th and *j*th variable. Show off your skills by coloring the cell so that large positive correlations appear green and large negative correlations appear green (use a gradient to make this pretty). What two variables appear to me most positively and negatively correlated?

In [62]:
# enter your code here

*Write your response here.*

### 2.5 Create your own (creative and effective) visualization

Use another type of graph or chart to illustrate an interesting pattern in the data.  Be creative in your visualization, and make sure to produce a "publication-quality" graph.  Points will be given for useful and creative graphs; points will be deducted for confusing issues like unlabeled axes.  If you're new to data visualization, [this guide](http://pubs.aeaweb.org/doi/pdfplus/10.1257/jep.28.1.209) is a good place to start.

In [63]:
# enter your code here